<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee     http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>Archetype Created Web Application</display-name>

    <filter>
        <filter-name>characterEncodingFilter</filter-name>
        <filter-class>filter.CharacterEncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>characterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <filter>
        <filter-name>sessionFilter</filter-name>
        <filter-class>filter.SessionFilter</filter-class>
        <init-param>
            <param-name>excludedPages</param-name>
            <param-value>/index.jsp,/index,/login_galaxy.jsp,/login_galaxy,/allert.jsp,/allert</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>sessionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>login_galaxy</servlet-name>
        <servlet-class>servlet.LoginServlet_Galaxy</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login_galaxy</servlet-name>
        <url-pattern>/login_galaxy</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>room_galaxy</servlet-name>
        <servlet-class>servlet.RoomServlet_Galaxy</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>room_galaxy</servlet-name>
        <url-pattern>/room_galaxy</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>checkinout_galaxy</servlet-name>
        <servlet-class>servlet.CheckInOutServlet_Galaxy</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>checkinout_galaxy</servlet-name>
        <url-pattern>/checkinout_galaxy</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>customer_galaxy</servlet-name>
        <servlet-class>servlet.CustomerServlet_Galaxy</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>customer_galaxy</servlet-name>
        <url-pattern>/customer_galaxy</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>bookRoomServlet_galaxy</servlet-name>
        <servlet-class>servlet.BookRoomServlet_Galaxy</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>bookRoomServlet_galaxy</servlet-name>
        <url-pattern>/bookRoomServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>leaveRoomServlet_galaxy</servlet-name>
        <servlet-class>servlet.LeaveRoomServlet_Galaxy</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>leaveRoomServlet_galaxy</servlet-name>
        <url-pattern>/leaveRoomServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addRoomServlet_Galaxy</servlet-name>
        <servlet-class>servlet.AddRoomServlet_Galaxy</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addRoomServlet_Galaxy</servlet-name>
        <url-pattern>/addRoomServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>editRoomServlet_Galaxy</servlet-name>
        <servlet-class>servlet.EditRoomServlet_Galaxy</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editRoomServlet_Galaxy</servlet-name>
        <url-pattern>/editRoomServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>delRoomServlet_Galaxy</servlet-name>
        <servlet-class>servlet.DelRoomServlet_Galaxy</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>delRoomServlet_Galaxy</servlet-name>
        <url-pattern>/delRoom_Galaxy</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>editCustomerServlet_Galaxy</servlet-name>
        <servlet-class>servlet.EditCustomerServlet_Galaxy</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editCustomerServlet_Galaxy</servlet-name>
        <url-pattern>/editCustomerServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>delCustomerServlet_Galaxy</servlet-name>
        <servlet-class>servlet.DelCustomerServlet_Galaxy</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>delCustomerServlet_Galaxy</servlet-name>
        <url-pattern>/delCustomer_Galaxy</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>delCheckinoutServlet_Galaxy</servlet-name>
        <servlet-class>servlet.DelCheckInOutServlet_Galaxy</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>delCheckinoutServlet_Galaxy</servlet-name>
        <url-pattern>/delCheckinout_Galaxy</url-pattern>
    </servlet-mapping>

</web-app>
